<nav>
  <div class="navbar-container">
    <div class="logo">
      <img
        src="/path/to/logo.png"
        alt="Logo"
        class="logo-img"
      />
    </div>
    <ul class="categories">
      <li><a href="#">Email</a></li>
      <li><a href="#">Category 2</a></li>
      <li><a href="#">Category 3</a></li>
    </ul>

    @if (!isLoggedIn()) {
      <button
        class="sign-in-btn"
        (click)="showSingInModal()"
      >
        Sign In
      </button>
    } @else {
      <div>{{'Jestes zalogowany'}}</div>
    }
  </div>
</nav>
